{% extends 'base.html'%}
{% load static %}
{% load humanize %}

{% block head %}

<style>
.table tr {
    cursor: pointer;
}
.hiddenRow {
    padding: 0 4px !important;
    background-color: #2f2d44;
    font-size: 13px;
}
</style>

{% endblock %}

{% block flag %}
<h4 style="color: white;"><img src="https://corona.lmao.ninja/assets/img/flags/in.png" alt="Country Flag" height="20" width="30">  India </h4>
{% endblock flag %}

<script>
  {% block jquery %}
  
//   var endpoint = '/api/chart/data/country/USA/'
  
//   var confirmed_cases = []
//   var cases_date = []
//   var deaths = []
//   var recovered = []
  
//   var labels = []
//   var bar_chart_data = []
  
  
//   $.ajax({
//       method: "GET",
//       url: endpoint,
//       success: function(data){
//           country = data.country
//           cases_date = data.cases_dates
//           confirmed_cases = data.cases
//           deaths = data.deaths
//           recovered = data.recovered
  
//           labels = data.labels
//           bar_chart_data = data.bar_chart_data

//           console.log(bar_chart_data);
  
//           setChart()
          
//       },
//       error: function(error_data){
//           console.log("error")
//           console.log(error_data)
//       }
//   })
  
//   function setChart(){
  
//       var ctx = document.getElementById('myChart').getContext('2d');
//       var ctx2 = document.getElementById('myChart2').getContext('2d');
//       var ctx3 = document.getElementById('myChart3').getContext('2d');
//       var ctx4 = document.getElementById('myChart4').getContext('2d');
  
//       var myChart = new Chart(ctx, {
//           type: 'line',
//           data: {
//               labels: cases_date,
//               datasets: [{
//                   label: 'Confirmed cases',
//                   data: confirmed_cases,
//                   backgroundColor: [
//                       'rgba(54, 162, 235, 0.2)',
//                   ],
//                   borderColor: [
//                       'rgba(54, 162, 235, 1)',
//                   ],
//                   borderWidth: 2
//               }]
//           },
//           options: {
//               scales: {
//                   yAxes: [{
//                       ticks: {
//                           beginAtZero: true
//                       }
//                   }]
//               }
//           }
//       });
  
//       var myChart = new Chart(ctx2, {
//           type: 'line',
//           data: {
//               labels: cases_date,
//               datasets: [{
//                   label: 'Total Deaths',
//                   data: deaths,
//                   backgroundColor: [
//                       'rgba(255, 99, 132, 0.2)',
//                   ],
//                   borderColor: [
//                       'rgba(255, 99, 132, 1)',
//                   ],
//                   borderWidth: 2
//               }]
//           },
//           options: {
//               scales: {
//                   yAxes: [{
//                       ticks: {
//                           beginAtZero: true
//                       }
//                   }]
//               }
//           }
//       });
  
//       var myChart = new Chart(ctx3, {
//           type: 'line',
//           data: {
//               labels: cases_date,
//               datasets: [{
//                   label: 'Total Recovered',
//                   data: recovered,
//                   backgroundColor: [
//                       'rgba(75, 192, 192, 0.2)',
//                   ],
//                   borderColor: [
//                       'rgba(75, 192, 192, 1)',
//                   ],
//                   borderWidth: 2
//               }]
//           },
//           options: {
//               scales: {
//                   yAxes: [{
//                       ticks: {
//                           beginAtZero: true
//                       }
//                   }]
//               }
//           }
//       });
  
//       var myChart = new Chart(ctx4, {
//           type: 'bar',
//           data: {
//               labels: labels,
//               datasets: [{
//                   label: '',
//                   data: bar_chart_data,
//                   backgroundColor: [
//                       'rgba(54, 162, 235, 0.2)',
//                       'rgba(255, 99, 132, 0.2)',
//                       'rgba(75, 192, 192, 0.2)',
//                   ],
//                   borderColor: [
//                       'rgba(54, 162, 235, 1)',
//                       'rgba(255, 99, 132, 1)',
//                       'rgba(75, 192, 192, 1)',
//                   ],
//                   borderWidth: 2
//               }]
//           },
//           options: {
//               scales: {
//                   yAxes: [{
//                       ticks: {
//                           beginAtZero: true
//                       }
//                   }]
//               },
//           }
//       });


//   }
  

  {% endblock %}


  $('.accordian-body').on('show.bs.collapse', function () {
    $(this).closest("table")
        .find(".collapse.in")
        .not(this)
        //.collapse('toggle')
})

  
  </script>

{% block content %}
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-info card-header-icon">
                  <div class="card-icon">
                    <i class="fa fa-file-text" aria-hidden="true"></i>
                  </div>
                  <p class="card-category">Total Cases</p>
                  <h3 class="card-title" style="color: white;">{{ country_total_cases|intcomma }}
                    <!-- <small>GB</small> -->
                  </h3>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <!-- <i class="material-icons text-warning">warning</i> -->
                    <!-- <a href="#pablo" class="warning-link">Get More Space...</a> -->
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-danger card-header-icon">
                  <div class="card-icon">
                    <i class="fa fa-heart" aria-hidden="true"></i>
                  </div>
                  <p class="card-category">Total Deaths</p>
                  <h3 class="card-title" style="color: #da3a36;">{{ country_total_deaths|intcomma }}</h3>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <!-- <i class="material-icons">date_range</i> Last 24 Hours -->
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-success card-header-icon">
                  <div class="card-icon">
                    <i class="fa fa-medkit" aria-hidden="true"></i>
                  </div>
                  <p class="card-category">Recovered</p>
                  <h3 class="card-title" style="color: #52af49;">{{ country_total_recovered|intcomma }}</h3>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <!-- <i class="material-icons">local_offer</i> Tracked from Github -->
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-warning card-header-icon">
                  <div class="card-icon">
                    <i class="fa fa-heartbeat" aria-hidden="true"></i>
                  </div>
                  <p class="card-category">Critical</p>
                  <h3 class="card-title" style="color: white;">{{ country_total_critical|intcomma }}</h3>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <!-- <i class="material-icons">update</i> Just Updated -->
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- <div class="row">
            <div class="col-lg-12 col-md-12">
              <div class="card">
                <div class="card-header card-header-tabs card-header-primary">
                  <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                      <h4><img src="https://corona.lmao.ninja/assets/img/flags/us.png" alt="Country Flag" height="15" width="25"> US choropleth map and bar chart of current stats.</h4>
                    </div>
                  </div>
                </div>
                
                <div class="card-body">
                  <div class="tab-content">
                    <div class="row">
                      <div class='col-sm-6'>
                        <div class="col-md-12">{{plot|safe}}</div>
                      </div>
                      <div class='col-sm-6'>
                        <h4 style="text-align: center;">Displays total confirmed cases</h4>
                        <canvas id="myChart" width="400" height="300"></canvas>
                        <h4 style="text-align: center;">Displays total confirmed cases</h4>
                        <canvas id="myChart2" width="400" height="300"></canvas>
                        <h4 style="text-align: center;">Displays total confirmed cases</h4>
                        <canvas id="myChart3" width="400" height="300"></canvas>
                        <h4 style="text-align: center;">Displays total confirmed cases</h4>
                        <canvas id="myChart4" width="400" height="200"></canvas>
                      </div>
                    </div>
                    
                  </div>
                </div>


              </div>
            </div>


          </div> -->

          <div class="row">
            <div class="col-lg-12 col-md-12">
              <div class="card">
                <div class="card-header card-header-tabs card-header-primary">
                  <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                      <ul class="nav nav-tabs" data-tabs="tabs">
                        <li class="nav-item">
                          <a class="nav-link active" href="#states" data-toggle="tab">
                            States
                            <div class="ripple-container"></div>
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#districts" data-toggle="tab">
                            Districts
                            <div class="ripple-container"></div>
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="{% url 'country' country='India' %}">
                            Charts
                            <div class="ripple-container"></div>
                          </a>
                        </li>
                        <!-- <li class="nav-item">
                          <a class="nav-link" href="#map" data-toggle="tab">
                            Map
                            <div class="ripple-container"></div>
                          </a>
                        </li> -->
                    
                      </ul>
                    </div>
                  </div>
                </div>
                
                <div class="card-body">
                  <div class="tab-content">

                    <div class="tab-pane table-responsive active" id="states">
                      <div class="input-group no-border">
                        <input type="text" id="myInput" onkeyup="myFunction()" value="" class="form-control" placeholder="Search...">
                        <!-- <button type="submit" class="btn btn-default btn-round btn-just-icon">
                          <i class="material-icons">search</i>
                          <div class="ripple-container"></div>
                        </button> -->
                      </div>
                    </br>
                    <table id="myTable" class="table table-hover" cellspacing="0" width="100%" style="border-collapse:collapse;">
                      <thead>
                          <tr>
                            <th>State
                            </th>
                            <th>Confirmed
                            </th>
                            <th>Recovered
                            </th>
                            <th>Deaths
                            </th>
                            <th>Total
                            </th>
                          </tr>
                        </thead>

                        {% for item in df %}
                        <tbody>
                            <tr>
                                {% for key, value in item.items %}
                                    {% if key == 'name' %}
                                    <td>{{ value }}</td>
                                    {% endif %}
                                    {% if key == 'confirmed' %}
                                      {% if value == 0 %}
                                          <td></td>
                                      {% else %}
                                        <td>{{ value|intcomma }}</td>
                                      {% endif %}
                                    {% endif %}
                                    {% if key == 'cured' %}
                                      {% if value == 0 %}
                                          <td></td>
                                      {% else %}
                                          <td style="color: #2cd377;">+{{ value|intcomma }}</td>
                                      {% endif %}
                                    {% endif %}
                                    {% if key == 'death' %}
                                      {% if value == 0 %}
                                          <td></td>
                                      {% else %}
                                          <td style="color: #da3a36;">{{ value|intcomma }}</td>
                                      {% endif %}
                                    {% endif %}
                                    {% if key == 'total' %}
                                      {% if value == 0 %}
                                          <td></td>
                                      {% else %}
                                          <td>{{ value|intcomma }}</td>
                                      {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        </tbody>
                        {% endfor %}
                  
                    </table> 
                    </div>
                    <div class="tab-pane table-responsive" id="districts">
                      <div class="input-group no-border">
                        <input type="text" id="myInputstates" onkeyup="myFunctionstates()" value="" class="form-control" placeholder="Search...">
                        <!-- <button type="submit" class="btn btn-default btn-round btn-just-icon">
                          <i class="material-icons">search</i>
                          <div class="ripple-container"></div>
                        </button> -->
                      </div>
                    </br>
                    <table id="myTablestates" class="table table-hover" cellspacing="0" width="100%" style="border-collapse:collapse;">
                      <thead>
                          <tr>
                              <th>State & District</th>
                              <th>Confirmed</th>
                              <th>Deaths</th>
                              <th>Recovered</th>
                              <th>Active</th>
                              <!-- <th>Total</th> -->
                          </tr>
                      </thead>
                      <tbody>


                        {% for state in india_list %}
                        {% for key, value in state.items %}
                          {% if key == 'state' %}
                              <tr data-toggle="collapse" data-target="#demo1" class="accordion-toggle">
                                <td style="font-weight: bold; font-size: 13pt;">{{ value }}</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <!-- <td></td> -->
                              </tr>
                            
                                {% for key, value in state.items %}
                                  {% if key == 'district' %}
                                  {% for key, value in value.items %}
                                      <tr>
                      
                                        <td>{{ key }}</td>
                                        <td>{{ value.confirmed }}</td>
                                        <td style="color: #da3a36;">{{ value.deceased }}</td>
                                        <td class="text-success">{{ value.recovered }}</td>
                                        <td>{{ value.active }}</td>
                                        <!-- <td></td> -->
                            
                                      
                                        {% for key, value in value.items %}
                                       
                                        {% endfor %}
                                      </tr>
                                  {% endfor %}
                                  {% endif %}
                                {% endfor %}
                          {% endif %}
                        {% endfor %}
                        {% endfor %}
                         
                        
                          

                          <!-- <tr colspan="6" class="hiddenRow accordian-body collapse" id="#demo1"> -->
                         

                          

                          <!-- <tr data-toggle="collapse" data-target="#demo2" class="accordion-toggle">
                              <td>2</td>
                              <td>05 May 2013</td>
                              <td>Credit Account</td>
                              <td class="text-success">$11.00</td>
                              <td class="text-error">$120.00</td>
                              <td class="text-success">$161.00</td>
                          </tr> -->

                      </tbody>
                  </table>
                    </div>


      
                  

                    
                  </div>
                </div>
              </div>
            </div>


          </div>



        </div>
      </div>
{% endblock content %}