{% extends 'base.html'%}
{% load static %}
{% load humanize %}

{% block head %}
{{block.super}}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}

{% block flag %}
<h4 style="color: white;"><img src="https://corona.lmao.ninja/assets/img/flags/us.png" alt="Country Flag" height="20" width="30">  US </h4>
{% endblock flag %}

<script>
  {% block jquery %}
  
  var endpoint = '/api/chart/data/country/USA/'
  
  var confirmed_cases = []
  var cases_date = []
  var deaths = []
  var recovered = []
  
  var labels = []
  var bar_chart_data = []
  
  
  $.ajax({
      method: "GET",
      url: endpoint,
      success: function(data){
          country = data.country
          cases_date = data.cases_dates
          confirmed_cases = data.cases
          deaths = data.deaths
          recovered = data.recovered
  
          labels = data.labels
          bar_chart_data = data.bar_chart_data

          console.log(bar_chart_data);
  
          setChart()
          
      },
      error: function(error_data){
          console.log("error")
          console.log(error_data)
      }
  })
  
  function setChart(){
  
      // var ctx = document.getElementById('myChart').getContext('2d');
      // var ctx2 = document.getElementById('myChart2').getContext('2d');
      // var ctx3 = document.getElementById('myChart3').getContext('2d');
      var ctx4 = document.getElementById('myChart4').getContext('2d');
  
      // var myChart = new Chart(ctx, {
      //     type: 'line',
      //     data: {
      //         labels: cases_date,
      //         datasets: [{
      //             label: 'Confirmed cases',
      //             data: confirmed_cases,
      //             backgroundColor: [
      //                 'rgba(54, 162, 235, 0.2)',
      //             ],
      //             borderColor: [
      //                 'rgba(54, 162, 235, 1)',
      //             ],
      //             borderWidth: 2
      //         }]
      //     },
      //     options: {
      //         scales: {
      //             yAxes: [{
      //                 ticks: {
      //                     beginAtZero: true
      //                 }
      //             }]
      //         }
      //     }
      // });
  
      // var myChart = new Chart(ctx2, {
      //     type: 'line',
      //     data: {
      //         labels: cases_date,
      //         datasets: [{
      //             label: 'Total Deaths',
      //             data: deaths,
      //             backgroundColor: [
      //                 'rgba(255, 99, 132, 0.2)',
      //             ],
      //             borderColor: [
      //                 'rgba(255, 99, 132, 1)',
      //             ],
      //             borderWidth: 2
      //         }]
      //     },
      //     options: {
      //         scales: {
      //             yAxes: [{
      //                 ticks: {
      //                     beginAtZero: true
      //                 }
      //             }]
      //         }
      //     }
      // });
  
      // var myChart = new Chart(ctx3, {
      //     type: 'line',
      //     data: {
      //         labels: cases_date,
      //         datasets: [{
      //             label: 'Total Recovered',
      //             data: recovered,
      //             backgroundColor: [
      //                 'rgba(75, 192, 192, 0.2)',
      //             ],
      //             borderColor: [
      //                 'rgba(75, 192, 192, 1)',
      //             ],
      //             borderWidth: 2
      //         }]
      //     },
      //     options: {
      //         scales: {
      //             yAxes: [{
      //                 ticks: {
      //                     beginAtZero: true
      //                 }
      //             }]
      //         }
      //     }
      // });
  
      var myChart = new Chart(ctx4, {
          type: 'bar',
          data: {
              labels: labels,
              datasets: [{
                  label: '',
                  data: bar_chart_data,
                  backgroundColor: [
                      'rgba(54, 162, 235, 0.2)',
                      'rgba(255, 99, 132, 0.2)',
                      'rgba(75, 192, 192, 0.2)',
                  ],
                  borderColor: [
                      'rgba(54, 162, 235, 1)',
                      'rgba(255, 99, 132, 1)',
                      'rgba(75, 192, 192, 1)',
                  ],
                  borderWidth: 2
              }]
          },
          options: {
              scales: {
                  yAxes: [{
                      ticks: {
                          beginAtZero: true
                      }
                  }]
              },
          }
      });


  }
  

  {% endblock %}
  </script>

{% block content %}
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-info card-header-icon">
                  <div class="card-icon">
                    <i class="fa fa-file-text" aria-hidden="true"></i>
                  </div>
                  <p class="card-category">Total Cases</p>
                  <h3 class="card-title" style="color: white;">{{ country_total_cases|intcomma }}
                    <!-- <small>GB</small> -->
                  </h3>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <!-- <i class="material-icons text-warning">warning</i> -->
                    <!-- <a href="#pablo" class="warning-link">Get More Space...</a> -->
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-danger card-header-icon">
                  <div class="card-icon">
                    <i class="fa fa-heart" aria-hidden="true"></i>
                  </div>
                  <p class="card-category">Total Deaths</p>
                  <h3 class="card-title" style="color: #da3a36;">{{ country_total_deaths|intcomma }}</h3>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <!-- <i class="material-icons">date_range</i> Last 24 Hours -->
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-success card-header-icon">
                  <div class="card-icon">
                    <i class="fa fa-medkit" aria-hidden="true"></i>
                  </div>
                  <p class="card-category">Recovered</p>
                  <h3 class="card-title" style="color: #52af49;">{{ country_total_recovered|intcomma }}</h3>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <!-- <i class="material-icons">local_offer</i> Tracked from Github -->
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-warning card-header-icon">
                  <div class="card-icon">
                    <i class="fa fa-heartbeat" aria-hidden="true"></i>
                  </div>
                  <p class="card-category">Critical</p>
                  <h3 class="card-title" style="color: white;">{{ country_total_critical|intcomma }}</h3>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <!-- <i class="material-icons">update</i> Just Updated -->
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12 col-md-12">
              <div class="card">
                <div class="card-header card-header-tabs card-header-primary">
                  <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                      <h4><img src="https://corona.lmao.ninja/assets/img/flags/us.png" alt="Country Flag" height="15" width="25"> US choropleth map and bar chart of current stats.</h4>
                    </div>
                  </div>
                </div>
                
                <div class="card-body">
                  <div class="tab-content">
                    <div class="row">
                      <div class='col-sm-6'>
                        <div class="col-md-12">{{plot|safe}}</div>
                      </div>
                      <div class='col-sm-6'>
                        <!-- <h4 style="text-align: center;">Displays total confirmed cases</h4>
                        <canvas id="myChart" width="400" height="300"></canvas>
                        <h4 style="text-align: center;">Displays total confirmed cases</h4>
                        <canvas id="myChart2" width="400" height="300"></canvas>
                        <h4 style="text-align: center;">Displays total confirmed cases</h4>
                        <canvas id="myChart3" width="400" height="300"></canvas> -->
                        <h4 style="text-align: center;">Displays total confirmed cases</h4>
                        <canvas id="myChart4" width="400" height="200"></canvas>
                      </div>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>


          </div>

          <div class="row">
            <div class="col-lg-12 col-md-12">
              <div class="card">
                <div class="card-header card-header-tabs card-header-primary">
                  <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                      <ul class="nav nav-tabs" data-tabs="tabs">
                        <li class="nav-item">
                          <a class="nav-link active" href="#states" data-toggle="tab">
                            Table
                            <div class="ripple-container"></div>
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="{% url 'country' country='USA' %}">
                            Charts
                            <div class="ripple-container"></div>
                          </a>
                        </li>
                        <!-- <li class="nav-item">
                          <a class="nav-link" href="#map" data-toggle="tab">
                            Map
                            <div class="ripple-container"></div>
                          </a>
                        </li> -->
                    
                      </ul>
                    </div>
                  </div>
                </div>
                
                <div class="card-body">
                  <div class="tab-content">
                    <div class="tab-pane table-responsive active" id="states">
                      <div class="input-group no-border">
                        <input type="text" id="myInput" onkeyup="myFunction()" value="" class="form-control" placeholder="Search...">
                        <!-- <button type="submit" class="btn btn-default btn-round btn-just-icon">
                          <i class="material-icons">search</i>
                          <div class="ripple-container"></div>
                        </button> -->
                      </div>
                    </br>
                    
                    <table id="myTable" class="table table-hover" cellspacing="0" width="100%">
                      <thead>
                          <tr>
                            <th>State
                            </th>
                            <th>Total Cases
                            </th>
                            <th>New Cases
                            </th>
                            <th>Total Deaths
                            </th>
                            <th>New Deaths
                            </th>
                            <th>Active Cases
                            </th>
                            <th>Tests
                            </th>
                          </tr>
                        </thead>



                        {% for item in states %}
                        <tbody>
                            <tr>
                                {% for key, value in item.items %}
                                    {% if key == 'state' %}
                                    <td>{{ value|intcomma }}</td>
                                    {% endif %}
                                    {% if key == 'cases' %}
                                      {% if value == 0 %}
                                          <td></td>
                                      {% else %}
                                        <td>{{ value|intcomma }}</td>
                                      {% endif %}
                                    {% endif %}
                                    {% if key == 'todayCases' %}
                                      {% if value == 0 %}
                                          <td></td>
                                      {% else %}
                                          <td style="color: #ff9800;">+{{ value|intcomma }}</td>
                                      {% endif %}
                                    {% endif %}
                                    {% if key == 'deaths' %}
                                      {% if value == 0 %}
                                          <td></td>
                                      {% else %}
                                          <td>{{ value|intcomma }}</td>
                                      {% endif %}
                                    {% endif %}
                                    {% if key == 'todayDeaths' %}
                                      {% if value == 0 %}
                                          <td></td>
                                      {% else %}
                                          <td style="color: #da3a36;">+{{ value|intcomma }}</td>
                                      {% endif %}
                                    {% endif %}
                                    {% if key == 'active' %}
                                      {% if value == 0 %}
                                          <td></td>
                                      {% else %}
                                          <td>{{ value|intcomma }}</td>
                                      {% endif %}
                                    {% endif %}
                                    {% if key == 'tests' %}
                                      {% if value == 0 %}
                                          <td></td>
                                      {% else %}
                                          <td>{{ value|intcomma }}</td>
                                      {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        </tbody>
                        {% endfor %}
                  
                    </table> 
                    </div>
                   
                    <!-- <div class="tab-pane active" id="chart">
                      <br>
                      <div class="row">
                        <div class='col-sm-6'>
                          <h4 style="text-align: center;">Current state in the world</h4>
                          <canvas id="myChart4" width="400" height="300"></canvas>
                        </div>
                        <div class='col-sm-6'>
                              <h4 style="text-align: center;">Displays total confirmed cases</h4>
                              <canvas id="myChart" width="400" height="300"></canvas>
                        </div>
                      </div>
                      <br>
                      <br>
                      <div class="row">
                        <div class='col-sm-6'>
                          <h4 style="text-align: center;">Displays total deaths</h4>
                          <canvas id="myChart2" width="400" height="300"></canvas>
                        </div>
                        <div class='col-sm-6'>
                          <h4 style="text-align: center;">Displays total recovered</h4>
                          <canvas id="myChart3" width="400" height="300"></canvas>
                        </div>
                      </div>

                    </div> -->

                    <!-- <div class="tab-pane" id="map">

                          {# <div id="plot_container" class="col-md-8 col-md-offset-2">{{plot|safe}}</div>#}
                          <div class="col-md-12">{{plot|safe}}</div>

                    </div> -->

                    
                  </div>
                </div>
              </div>
            </div>


          </div>



        </div>
      </div>
{% endblock content %}